<html>  
    <head> 
        <title>Dynamic Rendering</title> 
    </head>
    <body>  
      <h1>You Entered This</h1>   
      <p>{{uname}} AGAIN</p> <!--dynamic data recieved from server-->
      <p>{{mail}} AGAIN</p> <!--dynamic data recieved from server-->
      <p>{{psw}} AGAIN</p> <!--dynamic data recieved from server-->
    </body>
</html>